.wrapper {
  display: inline-block;
  position: relative;
  height: 1em;
  width: calc(var(--swatch-size) + 8px);
  vertical-align: middle;
  margin-right: 0.5rem;
}

.box {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: var(--swatch-size);
  height: var(--swatch-size);
  border-radius: 6px;
  background-color: var(--swatch-color);
  box-shadow: inset 0 0 0 1px var(--ifm-color-emphasis-200);
  box-sizing: border-box;
  padding: 1px;
  background-clip: content-box;
}
